@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}

h3 {
  font-weight: bold;
  font-size: 30px;
}

h4 {
  font-weight: bold;
  font-size: 21px;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
}

ul {
  list-style-type: disc;
}

a:hover {
text-decoration: underline;
}